In [1]:
%matplotlib inline
import glob
import json
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ['shop_name', 'user_id'])
df

Empty DataFrame
Columns: [shop_name, user_id]
Index: []

In [3]:
def get_row(file):
    with open(file, 'r') as f:
        d = json.load(f)
        shop_name = d['shop_name']
        user_id = str(d['user_id'])
        # listing_active_count = d['listing_active_count']
        # accepts_custom_requests = d['accepts_custom_requests']
        # num_favorers = d['num_favorers']
        # creation_tsz = str(d['creation_tsz'])
        # currency_code = d['currency_code']
        # languages = d['languages']
        # title = d['title']
        # announcement = d['announcement']
    
    return [shop_name, user_id]

In [4]:
file_list = glob.glob("../_outputs/shops/*.json")
for file in file_list:
    df.loc[len(df)] = get_row(file) 
df.head(3)

    shop_name   user_id
0  BijouxElte  18842258
1      0chapo  44974775
2     1000ola  88485431

In [5]:
df = df.set_index('user_id')
df.head(3)

           shop_name
user_id
18842258  BijouxElte
44974775      0chapo
88485431     1000ola

Seulement 3 users avec plusieurs shops

In [6]:
df.index.get_duplicates()

['101346613', '113337817', '71929776']

In [7]:
df.describe()

       shop_name
count      14418
unique     14415
top     IC3Dshop
freq           2

In [8]:
df_clean = df.drop_duplicates()
df_clean.describe()

               shop_name
count              14415
unique             14415
top     MordicusBoutique
freq                   1

In [12]:
df_clean.head(3)

           shop_name
user_id
18842258  BijouxElte
44974775      0chapo
88485431     1000ola

In [11]:
# df_clean.to_excel('../_outputs/shops_users_control.xlsx', index=True, header=True)

In [21]:
df2 = pd.read_excel('../_outputs/shops_users_control.xlsx').set_index('user_id')
df2.head(3)

           shop_name  checkedDate
user_id
18842258  BijouxElte            0
44974775      0chapo            0
88485431     1000ola            0

In [22]:
idx = df2[df2.checkedDate == 0].head(1).index
idx[0]

18842258