In [1]:
import glob
import json
import pandas as pd

In [2]:
head = []
file_list = glob.glob("../_outputs/shops_products/*.json")
with open("output.json", "w") as outfile:
    for f in file_list:
        with open(f, 'rb') as infile:
            file_data = json.load(infile)
            head += file_data
    json.dump(head, outfile)

In [3]:
df = pd.read_json("../_outputs/shops_products_merged.json", lines=False)
df.head(2)

           0                 1
0  534732628  VeroniceBoutique
1  533082592         Brindenat

In [4]:
df.rename(columns = {0 : 'products', 1 : 'shops'}, inplace=True)

In [5]:
df.head(2)

    products             shops
0  534732628  VeroniceBoutique
1  533082592         Brindenat

In [6]:
# nombre de produits par shop
df.shops.value_counts().head(5)

EnglishShop            3635
artbynataera           3501
VintageWallGraphics    1883
1001coquesliberty      1514
LEVRIERSMARTYRS        1317
Name: shops, dtype: int64

In [7]:
# Nombre de shops
len(df.shops.unique())

14537

In [8]:
# Nombre de produits
len(df.products.unique())

443186

In [10]:
dfShops = pd.read_excel('../_outputs/categories_control.xlsx')

In [11]:
dfShops.pages_total.sum()

12721